@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: #0e0e41;
}

header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;

}

section{
    background-color: white;
    display: block;
    align-items: center;
    width: 40vw;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.856);
    margin:auto;
    margin-top: 15px;
    padding:15px;
    
}

footer{
    color: white;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
}
img{
    position: absolute;
    top:22%;
    left:48%;
    transform: translate(-30%, 22%);
    width:230px;
    height: 230px;
    border-radius: 50%;
    

    
}
